
<div id="coments-list">
    {{#commentDtos}}
        <div class="card m-2">
            <div class="card-header" id="comments-{{id}}">
                {{nickname}}
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>